* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo a {
  font-size: 50px;
  font-weight: 900;
  color: red;
  transition: 0.5s ease;
}
.logo a:hover {
  color: rgb(219, 196, 196);
}

.logo span {
  font-size: 30px;
  color: red;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
header {
  background-color: black;
  padding: 20px;
  width: 100%;
  position: relative;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.nav-list {
  display: flex;

  gap: 30px;
}
.nav-item {
  font-size: 20px;

  transition-delay: 0.5s;
}
.nav-item a {
  color: white;
  transition: 0.5s ease;
}
.dropdown {
  display: none;
  background-color: red;
  position: absolute;
  padding: 20px 20px;
}
.nav-item:hover .dropdown {
  display: block;
}
.nav-item a:hover {
  color: rgb(219, 196, 196);
}
.adress {
  display: flex;
  gap: 30px;
}
.nav-ad a {
  color: white;
  transition: 0.5s ease;
}
.nav-ad a:hover {
  color: rgb(219, 196, 196);
}
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(https://wallpaperaccess.com/full/183685.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  color: #fff;
}
h1 {
  font-size: 60px;
  font-weight: 900;
}
.hero-content a {
  color: #fff;
  transition: 0.5s ease;
  font-size: 20px;
}
.hero-content a:hover {
  color: rgb(219, 196, 196);
}
.btn {
  border-radius: 30%;
  background-color: black;
  padding: 50px;
}
.btn:hover {
  background-color: red;
}

footer{
    padding: 30px 30px;
    /* height: 200px; */
    background-color: black;
    color: #fff;
    

    
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sub{
    margin-top: 120px;
}
button{
    border-radius: 30%;
    background-color: black;
    padding: 50px;
    color: #fff;
    transition: 0.5s ease;
}
button:hover{
    background-color: red;
}
input{
    margin-top: 30px;
    padding: 10px 0px;
}
.secondary-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.726);
  
}
.secondary-content{
    
    display: flex;
    border: 10px solid black;
    padding: 30px 30px;
    

    
}
img{
    width: 600px;
    height: 800px;
}
h2{
    color: white;
    font-size: 40px;
}
p{
    color: #fff;
    font-size: 20px;
}
.text-container{
   height:800px ;
    width: 500px;
    padding: 20px 20px;
    
    border: black 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.secondary-content a{
  color: #fff;
  transition: 0.5s ease;
}
.button {
  border-radius: 30%;
  background-color: black;
  padding: 30px;
  
  /* transition: 0.5 s ease; */
}
.button:hover{
  background-color: red;
}

